@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
    --ON: initial;
    --OFF: ;

    --light-grey: #eeeeee;
    --grey: #999999;

    --shadow-medium-color: hsl(0deg 0% 0% / 0.333);
    --shadow-medium: 1px 2px 2px var(--shadow-medium-color),
                     2px 4px 4px var(--shadow-medium-color),
                     3px 6px 6px var(--shadow-medium-color);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}*/
input, button, textarea, select {
    font: inherit;
}

main {
    height: 100%;
    width: 100%;
}

input:invalid,
select:invalid {
    border: 1px solid red;
    outline: none;
}

body {
    font-family: sans-serif;
}

[hidden] {
    display: none !important;
}

fieldset {
    border: none;
    padding: .5em;
}

fieldset:not(:last-child) {
    border-bottom: 1px solid var(--grey);
    margin-bottom: .5em;
}

fieldset legend {
    font-weight: bold;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.modal,
.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: var(--shadow-medium);
}

.modal:not([hidden]),
.dropdown .dropdown-menu:target {
    display: block;
}

.modal {
    top: 0;
    z-index: 10;
}

.big-text {
    --_background-color: var(--background-color, #fff9);
    --_background-gradient-color: var(--background-gradient-color, #ccc9);
    /*--padding-narrow: 3.75vmin 5vmin;
    --padding-regular: 7.5vmin 10vmin;
    --padding-wide: 11.5vmin 15vmin;
    --padding-ultrawide: 15vmin 20vmin;*/
    --padding-narrow: .375em .5em;
    --padding-regular: .75em 1em;
    --padding-wide: 1.15em 1.5em;
    --padding-ultrawide: 1.5em 2.0em;

    --placement-start: -999;
    --placement-end: 999;

    --has-image: var(--OFF);
    --_image-size: var(--has-image, var(--image-size, 50%));

    position: relative;
    /*display: flex;*/
    /*flex-direction: var(--layout, column);*/
    /*align-items: stretch;*/
    /*justify-content: var(--has-image, var(--justify, center));*/
    overflow: hidden;

    height: 100%;
    width: 100%;
}

.big-text:not(.has-image):not(.has-background-image) .image-wrapper {
    display: none;
}

.big-text .image-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--_image-size);
    position: relative;
    order: var(--image-placement, var(--placement-start));
}

.big-text .image-wrapper figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.big-text .image-wrapper figure img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.big-text:not(.has-countdown) .countdown-wrapper {
    display: none;
}

.big-text .countdown-wrapper,
.big-text .text-wrapper {
    --background-gradient-linear: linear-gradient(var(--background-gradient-direction, 0deg), var(--_background-color) 0%, var(--_background-gradient-color) 100%);
    --background-gradient-radial: radial-gradient(circle, var(--_background-gradient-color) 0%, var(--_background-color) 100%);
    --background-gradient: var(--background-gradient-linear);
    --background: var(--_background-color);
    --background: var(--background-gradient);

    --shadow-regular: var(--shadow-x, 0) var(--shadow-y, 0) var(--shadow-blur, 0) var(--shadow-color, currentColor);
    --shadow-ugly: calc(var(--shadow-x, 0) * .333) calc(var(--shadow-y, 0) * .333) calc(var(--shadow-blur, 0) * .333) #ffffff,
                   calc(var(--shadow-x, 0) * .666) calc(var(--shadow-y, 0) * .666) calc(var(--shadow-blur, 0) * .666) #000000,
                   var(--shadow-x, 0) var(--shadow-y, 0) var(--shadow-blur, 0) var(--shadow-color, red);
    --shadow-fire: 0 -.01em .04em #ffffff,
                   0 -.02em .1em #ffff00,
                   0 -.1em .2em #ff8000,
                   0 -.18em .4em #ff0000;
    --shadow-glow: 0 0 calc(var(--shadow-blur, 0) * .07) #ffffff,
                   0 0 calc(var(--shadow-blur, 0) * .13) #ffffff,
                   0 0 calc(var(--shadow-blur, 0) * .2) #ffffff,
                   0 0 calc(var(--shadow-blur, 0) * .27) var(--shadow-color, lime),
                   0 0 calc(var(--shadow-blur, 0) * .4) var(--shadow-color, lime),
                   0 0 calc(var(--shadow-blur, 0) * .53) var(--shadow-color, lime),
                   0 0 calc(var(--shadow-blur, 0) * .73) var(--shadow-color, lime),
                   0 0 var(--shadow-blur, 0) var(--shadow-color, lime);
    --shadow-offset: calc(var(--shadow-x, 0) / 2) calc(var(--shadow-y, 0) / 2) 0 var(--background-color, #ffffff),
                     var(--shadow-x, 0) var(--shadow-y, 0) var(--shadow-blur, 0) var(--shadow-color, currentColor);

    --has-shadow: var(--OFF);
    --shadow: var(--shadow-regular);

    --has-stroke: var(--OFF);
    --stroke: var(--stroke-width, .01em) var(--stroke-color, #000000);
    position: relative;

    background: var(--background);

    color: var(--foreground-color, black);

    font-family: var(--font-family, sans-serif);
    font-weight: var(--font-weight, normal);
    font-style: var(--font-style, normal);
    font-size: max(var(--font-size, 100vh), 1vh);

    text-align: var(--text-align, center);
    text-shadow: var(--has-shadow, var(--shadow));

    -webkit-text-stroke: var(--has-stroke, var(--stroke));
}

.big-text .countdown-wrapper .countdown,
.big-text .text-wrapper .text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--padding, var(--padding-regular));
}

.big-text .countdown-wrapper .countdown p,
.big-text .text-wrapper .text p {
    width: 100%;
}

.big-text .countdown {
    font-variant-numeric: tabular-nums;
    order: var(--countdown-placement, var(--placement-start));
}

.big-text .is-resizing {
    visibility: hidden;
}

.big-text .is-resizing .countdown,
.big-text .is-resizing .text {
    display: block;
    bottom:  auto;
    right:  auto;
}

/* Add an extra character to coundown when resizing, to compensate for narrow numbers */
.big-text .is-resizing .countdown-wrapper .countdown::after,
.big-text .is-resizing.countdown-wrapper .countdown::after {
    display: inline;
    content: '.';
    visibility: hidden;
}


/*******************************************************************************
 * Grid
 ******************************************************************************/

/* Setup  */
.countdown-wrapper {
    grid-area: cnt;
}

.image-wrapper {
    grid-area: img;
}

.text-wrapper {
    grid-area: txt;
}

.big-text.has-countdown:not(.has-image) .countdown-wrapper,
.big-text.has-image:not(.has-countdown) .image-wrapper {
    grid-area: aside;
}

.big-text .layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "txt";
    height: 100%;
    width: 100%;
}

/* Layouts: 2 areas  */
.big-text.has-countdown .layout,
.big-text.has-image .layout {
    grid-template-columns: auto;
    grid-template-rows: var(--grid-size-1, auto) auto;
}

.big-text.has-countdown .layout,
.big-text.has-image .layout {
    grid-template-areas: "txt" "aside";
}

.big-text.has-countdown.l01 .layout,
.big-text.has-countdown.l03 .layout,
.big-text.has-image.l01 .layout,
.big-text.has-image.l02 .layout {
    grid-template-areas: "aside" "txt";
}

.big-text.has-image[class^="l1"] .layout,
.big-text.has-image[class*="l1"] .layout,
.big-text.has-countdown[class^="l1"] .layout,
.big-text.has-countdown[class*="l1"] .layout {
    grid-template-columns: var(--grid-size-1, auto) auto;
    grid-template-rows: auto;
}

.big-text.has-countdown.l10 .layout,
.big-text.has-countdown.l12 .layout,
.big-text.has-image.l10 .layout,
.big-text.has-image.l12 .layout {
    grid-template-areas: "txt aside";
}

.big-text.has-countdown.l11 .layout,
.big-text.has-countdown.l13 .layout,
.big-text.has-image.l11 .layout,
.big-text.has-image.l13 .layout {
    grid-template-areas: "aside txt";
}

/* Layouts: 3 areas (simple, column) */
.big-text.has-image.has-countdown .layout {
    --_grid-size-1: clamp(20%, calc(0.666 * var(--grid-size-1)), 60%);
    --_grid-size-2: clamp(20%, calc(0.666 * var(--grid-size-2)), calc(80% - var(--_grid-size-1)));
    grid-template-columns: auto;
    grid-template-rows: var(--_grid-size-1) var(--_grid-size-2) auto;
}

.big-text.has-image.has-countdown .layout,
.big-text.has-image.has-countdown.l20 .layout { grid-template-areas: "txt" "cnt" "img"; }
.big-text.has-image.has-countdown.l21 .layout { grid-template-areas: "img" "txt" "cnt"; }
.big-text.has-image.has-countdown.l22 .layout { grid-template-areas: "cnt" "txt" "img"; }
.big-text.has-image.has-countdown.l23 .layout { grid-template-areas: "img" "cnt" "txt"; }
.big-text.has-image.has-countdown.l24 .layout { grid-template-areas: "txt" "img" "cnt"; }
.big-text.has-image.has-countdown.l25 .layout { grid-template-areas: "cnt" "img" "txt"; }

/* Layouts: 3 areas (simple, row) */
.big-text.has-image.has-countdown[class^="l3"] .layout,
.big-text.has-image.has-countdown[class*="l3"] .layout {
    grid-template-columns: var(--_grid-size-1) var(--_grid-size-2) auto;
    grid-template-rows: auto;
}

.big-text.has-image.has-countdown .layout,
.big-text.has-image.has-countdown.l30 .layout { grid-template-areas: "txt cnt img"; }
.big-text.has-image.has-countdown.l31 .layout { grid-template-areas: "img txt cnt"; }
.big-text.has-image.has-countdown.l32 .layout { grid-template-areas: "cnt txt img"; }
.big-text.has-image.has-countdown.l33 .layout { grid-template-areas: "img cnt txt"; }
.big-text.has-image.has-countdown.l34 .layout { grid-template-areas: "txt img cnt"; }
.big-text.has-image.has-countdown.l35 .layout { grid-template-areas: "cnt img txt"; }


/* Layouts: 3 areas (complex) */
.big-text.has-image.has-countdown[class^="l4"] .layout,
.big-text.has-image.has-countdown[class*="l4"] .layout,
.big-text.has-image.has-countdown[class^="l5"] .layout,
.big-text.has-image.has-countdown[class*="l5"] .layout,
.big-text.has-image.has-countdown[class^="l6"] .layout,
.big-text.has-image.has-countdown[class*="l6"] .layout,
.big-text.has-image.has-countdown[class^="l7"] .layout,
.big-text.has-image.has-countdown[class*="l7"] .layout {
    grid-template-columns: var(--grid-size-1) auto;
    grid-template-rows: var(--grid-size-2) auto;
}

.big-text.has-image.has-countdown.l40 .layout { grid-template-areas: "txt txt" "cnt img"; }
.big-text.has-image.has-countdown.l41 .layout { grid-template-areas: "img img" "txt cnt"; }
.big-text.has-image.has-countdown.l42 .layout { grid-template-areas: "cnt cnt" "txt img"; }
.big-text.has-image.has-countdown.l43 .layout { grid-template-areas: "img img" "cnt txt"; }
.big-text.has-image.has-countdown.l44 .layout { grid-template-areas: "txt txt" "img cnt"; }
.big-text.has-image.has-countdown.l45 .layout { grid-template-areas: "cnt cnt" "img txt"; }

.big-text.has-image.has-countdown.l50 .layout { grid-template-areas: "txt cnt" "txt img"; }
.big-text.has-image.has-countdown.l51 .layout { grid-template-areas: "img txt" "img cnt"; }
.big-text.has-image.has-countdown.l52 .layout { grid-template-areas: "cnt txt" "cnt img"; }
.big-text.has-image.has-countdown.l53 .layout { grid-template-areas: "img cnt" "img txt"; }
.big-text.has-image.has-countdown.l54 .layout { grid-template-areas: "txt img" "txt cnt"; }
.big-text.has-image.has-countdown.l55 .layout { grid-template-areas: "cnt img" "cnt txt"; }

.big-text.has-image.has-countdown.l60 .layout { grid-template-areas: "txt cnt" "img img"; }
.big-text.has-image.has-countdown.l61 .layout { grid-template-areas: "img txt" "cnt cnt"; }
.big-text.has-image.has-countdown.l62 .layout { grid-template-areas: "cnt txt" "img img"; }
.big-text.has-image.has-countdown.l63 .layout { grid-template-areas: "img cnt" "txt txt"; }
.big-text.has-image.has-countdown.l64 .layout { grid-template-areas: "txt img" "cnt cnt"; }
.big-text.has-image.has-countdown.l65 .layout { grid-template-areas: "cnt img" "txt txt"; }

.big-text.has-image.has-countdown.l70 .layout { grid-template-areas: "txt img" "cnt img"; }
.big-text.has-image.has-countdown.l71 .layout { grid-template-areas: "img cnt" "txt cnt"; }
.big-text.has-image.has-countdown.l72 .layout { grid-template-areas: "cnt img" "txt img"; }
.big-text.has-image.has-countdown.l73 .layout { grid-template-areas: "img txt" "cnt txt"; }
.big-text.has-image.has-countdown.l74 .layout { grid-template-areas: "txt cnt" "img cnt"; }
.big-text.has-image.has-countdown.l75 .layout { grid-template-areas: "cnt txt" "img txt"; }


/* Background image */
.big-text.has-background-image {
    display: flex;
    justify-content: var(--content-h-placement, center);
    align-items: var(--content-v-placement, center);
}

.big-text.has-background-image .layout {
    max-height: var(--content-height, 100%);
    max-width: var(--content-width, 100%);
}

.big-text.has-background-image .image-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.big-text.has-background-image .image-wrapper figure {
    height: 100%;
    width: 100%;
}


.font-selector [value=serif] { font-family: serif; }
.font-selector [value=sans-serif] { font-family: sans-serif; }
.font-selector [value=cursive] { font-family: cursive; }
.font-selector [value=monospace] { font-family: monospace; }
.font-selector [value="'Fira Sans', sans-serif"] { font-family: 'Fira Sans', sans-serif; }
.font-selector [value="Impact, Charcoal, sans-serif"] { font-family: 'Impact', 'Charcoal', sans-serif; }
.font-selector [value="'Arial Black', Gadget, sans-serif"] { font-family: 'Arial Black', Gadget, sans-serif; }
.font-selector [value="Verdana, Geneva, sans-serif"] { font-family: Verdana, Geneva, sans-serif; }

.layout-picker,
.layout-picker:not(:last-child),
.layout-picker-set,
.layout-picker-set:not(:last-child) {
    padding: 0;
    border: none;
    border-bottom: none;
    margin-bottom: 0;
}

.layout-picker {
    --layout-picker-color: #000000;
    --layout-picker-selected-color: #ff0000;
    display: flex;
    flex-direction: row;
    position: relative;
    background: var(--light-grey);
}

.layout-picker-set .trigger {
    padding: 0;
    background: none;
    border: none;
    border-radius: none;
}

.layout-picker-set .options {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    flex-direction: row;
    background: white;
    box-shadow: var(--shadow-medium);
    overflow: hidden;
}

.layout-picker-set .options input {
    display: none;
}

.layout-picker-set:hover,
.layout-picker-set.active {
    box-shadow: var(--shadow-medium);
}

.layout-picker-set:hover .options,
.layout-picker-set.active .options {
    display: flex;
}

.layout-picker-set:hover .trigger,
.layout-picker-set.active .trigger {
    position: relative;
    background: white;
    z-index: 1;
}

.layout-picker .icon {
    display: grid;
    height: 3.5em;
    width: 3.5em;
    opacity: .5;
    border-radius: .5em;
    overflow: hidden;
    margin: .5em;
    outline: 2px solid currentColor;
    outline-offset: -1px;
}

.layout-picker-set .options > :hover .icon,
.layout-picker-set:hover .trigger .icon,
.layout-picker-set.active .trigger .icon {
    opacity: 1;
}

.layout-picker .icon[data-checked],
.layout-picker :checked + .icon {
    color: var(--layout-picker-selected-color);
}

.layout-picker .icon:empty::after,
.layout-picker .icon:empty::before {
    display: block;
    content: '';
}

.layout-picker .icon:empty::before { grid-area: a; }
.layout-picker .icon :nth-child(1) { grid-area: a; }
.layout-picker .icon:empty::after  { grid-area: b; }
.layout-picker .icon :nth-child(2) { grid-area: b; }
.layout-picker .icon :nth-child(3) { grid-area: c; }

.layout-picker .icon:empty::after,
.layout-picker .icon:empty::before,
.layout-picker .icon * {
    border: 2px solid currentColor;
    font-size: 80%;
    line-height: 1em;
    margin: -1px;
}

.layout-picker .icon * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-picker .l0 .icon {
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a" "b";
}

.layout-picker .l1 .icon {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "a b";
}

.layout-picker .l2 .icon {
    grid-template-columns: auto;
    grid-template-rows: 33.333% 33.333% 33.333%;
    grid-template-areas: "a" "b" "c";
}

.layout-picker .l3 .icon {
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: auto;
    grid-template-areas: "a b c";
}

.layout-picker .l4 .icon {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a a" "b c";
}

.layout-picker .l5 .icon {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b" "a c";
}

.layout-picker .l6 .icon {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b" "c c";
}

.layout-picker .l7 .icon {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a c" "b c";
}
