svg.icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

div {
    display: flex;
    gap: var(--local-gap-small);
    flex-flow: row wrap;
}

input[type=color] {
    outline: 0;
    user-select: none;
    display: inline-block;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

input[type=color]:focus + .button {
    outline: var(--outline);
}

button, .button {
    height: 2em;
    width: 2em;
}

.color-button svg.icon {
    display: none;
}

.color-button.is-active svg.icon {
    display: inline-block;
}

button:not(:last-child) {
    margin-right: 0;
}
